In [1]:
# importing libraries

import numpy as np 
import pandas as pd

In [2]:
# do not display warnings in notebook 

import warnings
warnings.filterwarnings('ignore')

In [3]:
# Reading input data

df = pd.read_csv("train.csv", index_col=0)
df

,USER_ID,YOB,Gender,Income,HouseholdStatus,EducationLevel,Q124742,Q124122,Q123464,Q123621,...,Q99716,Q99581,Q99480,Q98869,Q98578,Q98059,Q98078,Q98197,Q96024,Party
1044,1295,1971.0,Female,"$100,001 - $150,000",Married (w/kids),Bachelor's Degree,NaN,Yes,No,No,...,No,No,Yes,No,No,Yes,No,No,Yes,Democrat
2671,3324,1981.0,Female,"$25,001 - $50,000",Married (w/kids),Associate's Degree,NaN,NaN,NaN,NaN,...,No,No,Yes,NaN,No,Yes,NaN,Yes,No,Republican
5549,6939,1999.0,Female,NaN,Single (no kids),Current K-12,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
1231,1525,1997.0,Male,"$75,000 - $100,000",Single (no kids),Current K-12,NaN,NaN,NaN,NaN,...,No,Yes,No,No,No,Only-child,No,No,Yes,Democrat
2685,3341,1977.0,Male,"over $150,000",Married (w/kids),Doctoral Degree,No,No,No,Yes,...,No,No,Yes,Yes,No,Yes,Yes,No,Yes,Democrat
3971,4949,1994.0,Male,"under $25,000",Single (no kids),Current Undergraduate,Yes,No,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
1186,1467,1949.0,Female,"$25,001 - $50,000",Married (no kids),NaN,NaN,Yes,No,No,...,No,No,Yes,Yes,No,Yes,Yes,No,No,Democrat
721,894,1989.0,Female,"$25,001 - $50,000",Single (no kids),NaN,NaN,NaN,NaN,NaN,...,No,No,Yes,Yes,No,Yes,No,Yes,No,Democrat
693,857,1989.0,Female,"$50,000 - $74,999",Domestic Partners (no kids),Current Undergraduate,NaN,NaN,No,No,...,No,No,Yes,NaN,NaN,Yes,Yes,Yes,No,Democrat
3607,4496,1994.0,Male,"$100,001 - $150,000",Single (no kids),Current Undergraduate,Yes,No,No,No,...,No,Yes,Yes,Yes,No,Yes,Yes,No,Yes,Republican
5565,6958,1969.0,Male,"over $150,000",NaN,Bachelor's Degree,NaN,NaN,NaN,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
4557,5688,1994.0,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
287,364,1981.0,Male,"$75,000 - $100,000",Married (w/kids),Master's Degree,NaN,Yes,No,Yes,...,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Republican
2209,2755,1997.0,Male,"under $25,000",Single (no kids),Current K-12,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
5190,6481,1992.0,Female,NaN,Single (no kids),Current Undergraduate,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
1480,1837,1995.0,Male,"under $25,000",NaN,Current K-12,No,NaN,No,NaN,...,NaN,No,Yes,NaN,NaN,NaN,NaN,NaN,NaN,Republican
2688,3345,1988.0,Male,"$25,001 - $50,000",Single (no kids),Bachelor's Degree,NaN,NaN,NaN,NaN,...,Yes,No,Yes,No,No,Yes,No,No,Yes,Republican
3076,3832,1994.0,Male,"$100,001 - $150,000",Single (no kids),Current Undergraduate,Yes,Yes,No,No,...,No,No,No,Yes,No,Yes,Yes,No,NaN,Democrat
4083,5095,1993.0,Female,"$50,000 - $74,999",Domestic Partners (no kids),Current Undergraduate,NaN,Yes,No,No,...,No,No,Yes,NaN,Yes,Yes,Yes,Yes,No,Republican
4365,5452,1956.0,Male,NaN,Single (no kids),Bachelor's Degree,No,No,No,No,...,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Democrat
561,697,1985.0,Male,"under $25,000",Single (no kids),NaN,No,NaN,No,NaN,...,No,No,Yes,Yes,No,Yes,Yes,Yes,Yes,Democrat
2456,3062,1978.0,Male,"under $25,000",Single (no kids),High School Diploma,No,No,No,No,...,No,No,Yes,Yes,No,Yes,No,No,No,Democrat
3053,3803,1987.0,Female,"$25,001 - $50,000",Single (no kids),Master's Degree,NaN,NaN,NaN,NaN,...,No,No,Yes,Yes,No,Yes,No,Yes,NaN,Democrat
5018,6271,1995.0,Male,NaN,Single (no kids),High School Diploma,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
4003,4988,1981.0,Male,"$50,000 - $74,999",Single (no kids),Bachelor's Degree,Yes,Yes,NaN,NaN,...,No,No,Yes,NaN,NaN,NaN,NaN,NaN,Yes,Republican
5245,6544,NaN,Male,"$25,001 - $50,000",Domestic Partners (w/kids),High School Diploma,NaN,NaN,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
5537,6925,1990.0,Female,"under $25,000",Single (no kids),Current Undergraduate,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
3492,4350,1966.0,Male,"$50,000 - $74,999",Married (w/kids),Doctoral Degree,No,No,No,Yes,...,No,NaN,Yes,Yes,Yes,Yes,Yes,Yes,No,Democrat
3279,4082,1966.0,Male,"$50,000 - $74,999",Married (w/kids),Bachelor's Degree,NaN,NaN,No,NaN,...,NaN,No,Yes,Yes,NaN,Yes,Yes,NaN,No,Republican
4127,5148,1980.0,NaN,"$50,000 - $74,999",Single (w/kids),Bachelor's Degree,NaN,NaN,NaN,NaN,...,Yes,No,Yes,Yes,No,Yes,Yes,No,No,Republican
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2747,3418,1972.0,Male,"over $150,000",Married (w/kids),Current Undergraduate,Yes,Yes,No,No,...,No,No,Yes,No,No,Yes,Yes,No,Yes,Democrat
2047,2546,1961.0,Female,"$50,000 - $74,999",Married (no kids),Master's Degree,Yes,No,NaN,NaN,...,No,No,Yes,Yes,No,Yes,No,No,Yes,Democrat
2558,3184,1997.0,Male,NaN,NaN,NaN,Yes,Yes,No,No,...,No,No,Yes,No,No,Yes,Yes,No,Yes,Republican
1082,1341,1986.0,Male,"$25,001 - $50,000",Single (no kids),Bachelor's Degree,Yes,No,No,Yes,...,No,Yes,Yes,No,No,Yes,Yes,No,No,Democrat
474,597,1972.0,Male,"over $150,000",Married (no kids),Master's Degree,NaN,No,No,Yes,...,No,No,Yes,Yes,Yes,Yes,No,No,Yes,Republican
2904,3617,1967.0,Female,"$25,001 - $50,000",Married (w/kids),NaN,NaN,NaN,NaN,NaN,...,No,NaN,NaN,Yes,No,Yes,No,Yes,Yes,Democrat
4843,6049,1969.0,Male,"$75,000 - $100,000",Married (w/kids),Associate's Degree,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
4117,5137,1980.0,Male,"$25,001 - $50,000",Single (w/kids),High School Diploma,Yes,Yes,Yes,No,...,No,No,Yes,Yes,No,Yes,No,NaN,Yes,Republican
3385,4214,1983.0,Male,"$75,000 - $100,000",Married (w/kids),Bachelor's Degree,NaN,NaN,NaN,NaN,...,No,Yes,Yes,NaN,No,Yes,Yes,No,Yes,Republican
4555,5685,1981.0,Female,"$25,001 - $50,000",Single (w/kids),Bachelor's Degree,NaN,Yes,No,No,...,No,No,Yes,Yes,No,Yes,No,No,Yes,Democrat
1184,1465,1990.0,Male,"$100,001 - $150,000",Single (no kids),Bachelor's Degree,No,No,No,Yes,...,Yes,No,Yes,No,No,Yes,No,No,Yes,Republican
5051,6312,1989.0,Male,"$25,001 - $50,000",Single (no kids),NaN,NaN,Yes,No,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
5311,6629,NaN,Male,"under $25,000",Single (no kids),Doctoral Degree,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
2433,3032,1972.0,Male,"over $150,000",Married (w/kids),Bachelor's Degree,NaN,NaN,No,Yes,...,NaN,NaN,NaN,No,Yes,Yes,No,No,Yes,Republican
2391,2984,1998.0,Male,"under $25,000",Single (no kids),Current K-12,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
769,953,1988.0,Male,"$25,001 - $50,000",Married (no kids),NaN,No,Yes,No,Yes,...,No,No,Yes,Yes,No,Only-child,No,No,Yes,Democrat
1685,2090,1981.0,Male,"over $150,000",Married (w/kids),Bachelor's Degree,NaN,NaN,NaN,NaN,...,No,No,No,Yes,Yes,Yes,No,No,Yes,Republican
130,166,1997.0,Male,"over $150,000",NaN,Current K-12,No,NaN,No,No,...,NaN,Yes,NaN,No,No,NaN,NaN,NaN,NaN,Democrat
2919,3634,1975.0,Female,"over $150,000",Married (w/kids),Bachelor's Degree,Yes,No,No,Yes,...,NaN,NaN,NaN,NaN,NaN,Yes,No,No,Yes,Republican
3171,3955,1991.0,Male,"over $150,000",Single (no kids),Bachelor's Degree,No,Yes,No,No,...,No,No,Yes,No,Yes,Yes,No,No,Yes,Republican
3444,4290,1960.0,Female,NaN,Married (w/kids),High School Diploma,NaN,No,No,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
4426,5522,1965.0,Female,"$50,000 - $74,999",Married (no kids),High School Diploma,NaN,NaN,NaN,NaN,...,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
5334,6661,1994.0,Female,NaN,Single (no kids),Current Undergraduate,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
466,589,1969.0,Male,"$50,000 - $74,999",Single (no kids),Master's Degree,No,Yes,No,Yes,...,Yes,No,Yes,Yes,Yes,Yes,Yes,No,Yes,Democrat
3092,3855,1995.0,Female,"$25,001 - $50,000",Single (no kids),Current Undergraduate,NaN,Yes,No,Yes,...,NaN,No,No,Yes,No,Yes,Yes,Yes,No,Republican
3772,4701,NaN,Male,"over $150,000",Married (w/kids),Doctoral Degree,Yes,Yes,No,No,...,No,No,Yes,Yes,Yes,Yes,Yes,No,Yes,Republican
5191,6483,1996.0,Female,NaN,NaN,Current K-12,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
5226,6522,1961.0,Male,NaN,Married (w/kids),Associate's Degree,No,No,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
5390,6736,1999.0,Female,"under $25,000",Single (no kids),Current K-12,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
860,1065,1952.0,Male,"over $150,000",Married (no kids),Master's Degree,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Republican

In [4]:
df.set_index("USER_ID", inplace = True) 
df.sort_values(by=['USER_ID'], inplace=True)
df

,YOB,Gender,Income,HouseholdStatus,EducationLevel,Q124742,Q124122,Q123464,Q123621,Q122769,...,Q99716,Q99581,Q99480,Q98869,Q98578,Q98059,Q98078,Q98197,Q96024,Party
USER_ID,,,,,,,,,,,,,,,,,,,,,
1,1938.0,Male,NaN,Married (w/kids),NaN,No,NaN,No,No,No,...,No,No,NaN,No,NaN,Only-child,No,No,Yes,Democrat
4,1970.0,Female,"over $150,000",Domestic Partners (w/kids),Bachelor's Degree,NaN,Yes,No,No,No,...,NaN,NaN,No,No,No,Only-child,Yes,No,No,Democrat
5,1997.0,Male,"$75,000 - $100,000",Single (no kids),High School Diploma,NaN,Yes,Yes,No,NaN,...,No,No,No,Yes,No,Yes,No,Yes,No,Republican
8,1983.0,Male,"$100,001 - $150,000",Married (w/kids),Bachelor's Degree,No,Yes,No,Yes,No,...,No,No,Yes,Yes,No,Yes,No,No,Yes,Democrat
9,1984.0,Female,"$50,000 - $74,999",Married (w/kids),High School Diploma,No,Yes,No,No,No,...,No,No,Yes,No,No,Yes,No,No,Yes,Republican
10,1997.0,Female,"over $150,000",Single (no kids),Current K-12,NaN,NaN,NaN,NaN,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
11,1983.0,Male,"$25,001 - $50,000",Married (no kids),Current Undergraduate,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,No,No,Yes,No,Yes,Yes,Democrat
12,1996.0,Male,"$75,000 - $100,000",Single (no kids),Current K-12,Yes,Yes,No,No,No,...,No,No,Yes,Yes,No,Yes,No,Yes,Yes,Republican
15,1981.0,Female,"$50,000 - $74,999",Married (w/kids),NaN,No,No,No,No,Yes,...,No,No,Yes,Yes,No,Yes,Yes,Yes,No,Republican
16,1971.0,Male,"over $150,000",Married (no kids),Bachelor's Degree,NaN,NaN,NaN,NaN,NaN,...,No,Yes,Yes,Yes,NaN,NaN,NaN,NaN,Yes,Republican
17,1977.0,Female,"$100,001 - $150,000",Domestic Partners (no kids),Bachelor's Degree,Yes,No,No,Yes,Yes,...,No,No,Yes,Yes,No,Only-child,Yes,No,Yes,Republican
19,1996.0,Male,"$75,000 - $100,000",Single (no kids),Current K-12,Yes,No,No,No,No,...,No,No,Yes,No,Yes,Yes,No,No,Yes,Republican
20,1970.0,Male,"$75,000 - $100,000",Married (w/kids),Bachelor's Degree,NaN,NaN,NaN,NaN,NaN,...,No,No,Yes,Yes,No,Yes,No,No,Yes,Republican
22,1997.0,Female,"$75,000 - $100,000",Single (no kids),NaN,NaN,NaN,NaN,NaN,NaN,...,No,NaN,NaN,NaN,No,Yes,NaN,No,Yes,Democrat
24,1982.0,Female,"$25,001 - $50,000",Single (no kids),Master's Degree,Yes,No,No,Yes,No,...,Yes,No,Yes,Yes,No,Yes,Yes,Yes,Yes,Democrat
25,1973.0,Male,"$75,000 - $100,000",Married (w/kids),Associate's Degree,No,Yes,No,Yes,NaN,...,No,No,Yes,Yes,No,Yes,No,No,No,Democrat
26,1993.0,Female,"$50,000 - $74,999",Domestic Partners (no kids),High School Diploma,NaN,Yes,No,No,Yes,...,No,No,No,Yes,No,Yes,Yes,No,Yes,Republican
27,1970.0,Male,"over $150,000",Domestic Partners (w/kids),Master's Degree,Yes,Yes,No,Yes,No,...,No,No,No,Yes,Yes,Yes,No,Yes,Yes,Democrat
30,1995.0,Male,"$75,000 - $100,000",Single (no kids),Current K-12,NaN,Yes,No,No,Yes,...,No,No,Yes,Yes,Yes,Yes,NaN,NaN,Yes,Democrat
32,1993.0,Male,"$75,000 - $100,000",Single (no kids),Current Undergraduate,No,Yes,No,No,Yes,...,No,No,Yes,No,No,Yes,Yes,No,No,Republican
33,1951.0,Female,"$50,000 - $74,999",Married (w/kids),Master's Degree,NaN,No,No,Yes,No,...,No,No,Yes,No,No,Yes,No,No,No,Democrat
34,1950.0,Female,NaN,Married (no kids),Associate's Degree,NaN,Yes,No,No,No,...,No,No,Yes,Yes,No,Only-child,No,No,No,Democrat
35,1996.0,Male,"over $150,000",Single (no kids),Current K-12,Yes,No,No,No,No,...,No,No,No,No,Yes,Yes,No,No,Yes,Democrat
36,1977.0,Female,"$25,001 - $50,000",Single (no kids),Bachelor's Degree,No,No,No,Yes,NaN,...,Yes,No,No,Yes,No,Yes,Yes,NaN,Yes,Democrat
39,1942.0,Male,"$100,001 - $150,000",Married (w/kids),Master's Degree,No,No,No,No,NaN,...,No,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Democrat
40,1979.0,Female,"$25,001 - $50,000",Married (w/kids),Bachelor's Degree,NaN,Yes,No,Yes,No,...,No,No,Yes,Yes,No,Yes,No,No,No,Democrat
41,1968.0,Male,"$50,000 - $74,999",Married (no kids),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,Republican
43,1992.0,Male,"$100,001 - $150,000",Single (no kids),Current Undergraduate,No,Yes,No,No,No,...,No,Yes,Yes,No,No,Yes,Yes,No,No,Democrat
45,1971.0,Male,"$100,001 - $150,000",Married (w/kids),High School Diploma,No,Yes,No,No,Yes,...,NaN,No,Yes,Yes,No,Yes,Yes,Yes,Yes,Democrat
46,1969.0,Female,"$100,001 - $150,000",Married (w/kids),Master's Degree,No,No,No,Yes,No,...,No,No,Yes,No,No,Yes,No,No,No,Democrat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6924,NaN,Male,NaN,NaN,NaN,Yes,Yes,No,No,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6925,1990.0,Female,"under $25,000",Single (no kids),Current Undergraduate,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6927,1994.0,Male,"$100,001 - $150,000",Single (no kids),Current Undergraduate,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
6929,1992.0,Female,NaN,Single (no kids),Current Undergraduate,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6931,NaN,Male,"over $150,000",Single (no kids),Current K-12,NaN,NaN,NaN,NaN,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
6932,1983.0,Female,"under $25,000",Single (no kids),Master's Degree,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6933,1994.0,Female,"$25,001 - $50,000",Single (no kids),Current Undergraduate,NaN,NaN,Yes,No,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
6934,NaN,Female,"$75,000 - $100,000",Married (w/kids),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6935,1997.0,Female,NaN,Single (no kids),Current K-12,NaN,NaN,No,NaN,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6936,NaN,Female,NaN,Single (no kids),Current K-12,NaN,Yes,No,No,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6937,1976.0,Female,"$75,000 - $100,000",Married (w/kids),Bachelor's Degree,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
6938,1987.0,Female,"$75,000 - $100,000",Married (w/kids),Bachelor's Degree,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6939,1999.0,Female,NaN,Single (no kids),Current K-12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
6940,1994.0,Male,"$25,001 - $50,000",Domestic Partners (no kids),High School Diploma,No,Yes,NaN,Yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6942,1998.0,Female,"over $150,000",Single (no kids),Current K-12,Yes,Yes,No,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6943,NaN,Female,NaN,NaN,Current Undergraduate,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
6944,1994.0,Male,"under $25,000",Single (no kids),Current Undergraduate,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
6945,NaN,Male,"$50,000 - $74,999",Single (no kids),Current K-12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
6948,1997.0,Female,NaN,Single (no kids),Current K-12,Yes,Yes,Yes,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6949,NaN,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6950,1989.0,Male,"$25,001 - $50,000",Single (w/kids),Bachelor's Degree,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6951,1988.0,Female,"$25,001 - $50,000",Single (no kids),Current Undergraduate,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6952,1945.0,Male,"$25,001 - $50,000",Married (w/kids),High School Diploma,NaN,Yes,No,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
6953,1970.0,Female,NaN,Married (w/kids),Bachelor's Degree,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
6955,1966.0,Male,"over $150,000",Married (w/kids),Bachelor's Degree,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
6956,NaN,Male,NaN,NaN,Master's Degree,NaN,No,No,NaN,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
6957,2000.0,Female,NaN,NaN,Current K-12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6958,1969.0,Male,"over $150,000",NaN,Bachelor's Degree,NaN,NaN,NaN,Yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat
6959,1986.0,Male,"$25,001 - $50,000",Married (w/kids),High School Diploma,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican
6960,1999.0,Male,"under $25,000",Single (no kids),Current K-12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republican

In [5]:
df.isnull().sum()

YOB                 281
Gender               98
Income              885
HouseholdStatus     389
EducationLevel      735
Q124742            2929
Q124122            2092
Q123464            1963
Q123621            2027
Q122769            1888
Q122770            1770
Q122771            1759
Q122120            1741
Q121699            1567
Q121700            1596
Q120978            1577
Q121011            1545
Q120379            1600
Q120650            1540
Q120472            1636
Q120194            1757
Q120012            1588
Q120014            1726
Q119334            1684
Q119851            1521
Q119650            1635
Q118892            1508
Q118117            1583
Q118232            2039
Q118233            1794
                   ...
Q106388            1910
Q106389            1959
Q106042            1884
Q105840            1961
Q105655            1773
Q104996            1798
Q103293            1802
Q102906            1904
Q102674            1954
Q102687            1844
Q102289            1915
Q102089            1862
Q101162            1926
Q101163            2037
Q101596            1924
Q100689            1746
Q100680            1900
Q100562            1899
Q99982             1952
Q100010            1827
Q99716             1899
Q99581             1836
Q99480             1847
Q98869             1972
Q98578             1950
Q98059             1797
Q98078             1998
Q98197             1925
Q96024             1958
Party                 0
Length: 107, dtype: int64

In [6]:
df = df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
df.head()

,YOB,Gender,Income,HouseholdStatus,EducationLevel,Q124742,Q124122,Q123464,Q123621,Q122769,...,Q99716,Q99581,Q99480,Q98869,Q98578,Q98059,Q98078,Q98197,Q96024,Party
USER_ID,,,,,,,,,,,,,,,,,,,,,
8,1983.0,Male,"$100,001 - $150,000",Married (w/kids),Bachelor's Degree,No,Yes,No,Yes,No,...,No,No,Yes,Yes,No,Yes,No,No,Yes,Democrat
9,1984.0,Female,"$50,000 - $74,999",Married (w/kids),High School Diploma,No,Yes,No,No,No,...,No,No,Yes,No,No,Yes,No,No,Yes,Republican
12,1996.0,Male,"$75,000 - $100,000",Single (no kids),Current K-12,Yes,Yes,No,No,No,...,No,No,Yes,Yes,No,Yes,No,Yes,Yes,Republican
17,1977.0,Female,"$100,001 - $150,000",Domestic Partners (no kids),Bachelor's Degree,Yes,No,No,Yes,Yes,...,No,No,Yes,Yes,No,Only-child,Yes,No,Yes,Republican
32,1993.0,Male,"$75,000 - $100,000",Single (no kids),Current Undergraduate,No,Yes,No,No,Yes,...,No,No,Yes,No,No,Yes,Yes,No,No,Republican

In [7]:
df.isnull().sum()

YOB                0
Gender             0
Income             0
HouseholdStatus    0
EducationLevel     0
Q124742            0
Q124122            0
Q123464            0
Q123621            0
Q122769            0
Q122770            0
Q122771            0
Q122120            0
Q121699            0
Q121700            0
Q120978            0
Q121011            0
Q120379            0
Q120650            0
Q120472            0
Q120194            0
Q120012            0
Q120014            0
Q119334            0
Q119851            0
Q119650            0
Q118892            0
Q118117            0
Q118232            0
Q118233            0
                  ..
Q106388            0
Q106389            0
Q106042            0
Q105840            0
Q105655            0
Q104996            0
Q103293            0
Q102906            0
Q102674            0
Q102687            0
Q102289            0
Q102089            0
Q101162            0
Q101163            0
Q101596            0
Q100689            0
Q100680            0
Q100562            0
Q99982             0
Q100010            0
Q99716             0
Q99581             0
Q99480             0
Q98869             0
Q98578             0
Q98059             0
Q98078             0
Q98197             0
Q96024             0
Party              0
Length: 107, dtype: int64

In [8]:
df.shape

(593, 107)

In [9]:
df = df.reset_index(drop=True)

In [10]:
df.head()

,YOB,Gender,Income,HouseholdStatus,EducationLevel,Q124742,Q124122,Q123464,Q123621,Q122769,...,Q99716,Q99581,Q99480,Q98869,Q98578,Q98059,Q98078,Q98197,Q96024,Party
0,1983.0,Male,"$100,001 - $150,000",Married (w/kids),Bachelor's Degree,No,Yes,No,Yes,No,...,No,No,Yes,Yes,No,Yes,No,No,Yes,Democrat
1,1984.0,Female,"$50,000 - $74,999",Married (w/kids),High School Diploma,No,Yes,No,No,No,...,No,No,Yes,No,No,Yes,No,No,Yes,Republican
2,1996.0,Male,"$75,000 - $100,000",Single (no kids),Current K-12,Yes,Yes,No,No,No,...,No,No,Yes,Yes,No,Yes,No,Yes,Yes,Republican
3,1977.0,Female,"$100,001 - $150,000",Domestic Partners (no kids),Bachelor's Degree,Yes,No,No,Yes,Yes,...,No,No,Yes,Yes,No,Only-child,Yes,No,Yes,Republican
4,1993.0,Male,"$75,000 - $100,000",Single (no kids),Current Undergraduate,No,Yes,No,No,Yes,...,No,No,Yes,No,No,Yes,Yes,No,No,Republican

In [11]:
## Selecting the specific features related 
import random

columns = ['Income','Q100562']
df = df[columns]
df["No. of members"]=0
df

                  Income Q100562  No. of members
0    $100,001 - $150,000     Yes               0
1      $50,000 - $74,999     Yes               0
2     $75,000 - $100,000     Yes               0
3    $100,001 - $150,000     Yes               0
4     $75,000 - $100,000     Yes               0
5          over $150,000      No               0
6    $100,001 - $150,000     Yes               0
7    $100,001 - $150,000     Yes               0
8    $100,001 - $150,000      No               0
9          over $150,000     Yes               0
10         under $25,000     Yes               0
11    $75,000 - $100,000     Yes               0
12   $100,001 - $150,000     Yes               0
13     $50,000 - $74,999     Yes               0
14    $75,000 - $100,000     Yes               0
15    $75,000 - $100,000     Yes               0
16    $75,000 - $100,000      No               0
17         over $150,000     Yes               0
18     $50,000 - $74,999     Yes               0
19         over $150,000     Yes               0
20    $75,000 - $100,000     Yes               0
21         over $150,000     Yes               0
22         over $150,000     Yes               0
23   $100,001 - $150,000     Yes               0
24    $75,000 - $100,000     Yes               0
25         under $25,000     Yes               0
26         under $25,000     Yes               0
27   $100,001 - $150,000     Yes               0
28     $50,000 - $74,999      No               0
29         over $150,000     Yes               0
..                   ...     ...             ...
563    $50,000 - $74,999      No               0
564        over $150,000     Yes               0
565   $75,000 - $100,000     Yes               0
566    $25,001 - $50,000      No               0
567   $75,000 - $100,000      No               0
568  $100,001 - $150,000     Yes               0
569   $75,000 - $100,000     Yes               0
570  $100,001 - $150,000     Yes               0
571  $100,001 - $150,000     Yes               0
572    $25,001 - $50,000      No               0
573    $25,001 - $50,000      No               0
574        under $25,000     Yes               0
575    $50,000 - $74,999     Yes               0
576   $75,000 - $100,000     Yes               0
577   $75,000 - $100,000     Yes               0
578    $50,000 - $74,999     Yes               0
579    $25,001 - $50,000     Yes               0
580   $75,000 - $100,000     Yes               0
581    $25,001 - $50,000     Yes               0
582    $50,000 - $74,999     Yes               0
583  $100,001 - $150,000     Yes               0
584    $50,000 - $74,999     Yes               0
585    $25,001 - $50,000      No               0
586   $75,000 - $100,000     Yes               0
587   $75,000 - $100,000     Yes               0
588    $50,000 - $74,999      No               0
589    $50,000 - $74,999      No               0
590    $25,001 - $50,000     Yes               0
591        under $25,000     Yes               0
592        over $150,000      No               0

[593 rows x 3 columns]

In [12]:
import random 
  
# Function to generate 
# and append them  
# start = starting range, 
# end = ending range 
# num = number of  
# elements needs to be appended 
def Rand(start, end, num): 
    res = [] 
  
    for j in range(num): 
        res.append(random.randint(start, end)) 
  
    return res 
  
# Driver Code 
num = 593
start = 1
end = 6

In [13]:
r = Rand(start, end, num)
len(r)

593

In [14]:
df["No. of members"] = r
df

                  Income Q100562  No. of members
0    $100,001 - $150,000     Yes               1
1      $50,000 - $74,999     Yes               4
2     $75,000 - $100,000     Yes               1
3    $100,001 - $150,000     Yes               4
4     $75,000 - $100,000     Yes               6
5          over $150,000      No               6
6    $100,001 - $150,000     Yes               1
7    $100,001 - $150,000     Yes               5
8    $100,001 - $150,000      No               5
9          over $150,000     Yes               2
10         under $25,000     Yes               3
11    $75,000 - $100,000     Yes               3
12   $100,001 - $150,000     Yes               2
13     $50,000 - $74,999     Yes               2
14    $75,000 - $100,000     Yes               2
15    $75,000 - $100,000     Yes               4
16    $75,000 - $100,000      No               2
17         over $150,000     Yes               3
18     $50,000 - $74,999     Yes               5
19         over $150,000     Yes               5
20    $75,000 - $100,000     Yes               1
21         over $150,000     Yes               4
22         over $150,000     Yes               5
23   $100,001 - $150,000     Yes               2
24    $75,000 - $100,000     Yes               1
25         under $25,000     Yes               5
26         under $25,000     Yes               3
27   $100,001 - $150,000     Yes               4
28     $50,000 - $74,999      No               5
29         over $150,000     Yes               5
..                   ...     ...             ...
563    $50,000 - $74,999      No               1
564        over $150,000     Yes               6
565   $75,000 - $100,000     Yes               6
566    $25,001 - $50,000      No               3
567   $75,000 - $100,000      No               5
568  $100,001 - $150,000     Yes               2
569   $75,000 - $100,000     Yes               4
570  $100,001 - $150,000     Yes               6
571  $100,001 - $150,000     Yes               3
572    $25,001 - $50,000      No               4
573    $25,001 - $50,000      No               4
574        under $25,000     Yes               2
575    $50,000 - $74,999     Yes               1
576   $75,000 - $100,000     Yes               5
577   $75,000 - $100,000     Yes               4
578    $50,000 - $74,999     Yes               1
579    $25,001 - $50,000     Yes               2
580   $75,000 - $100,000     Yes               4
581    $25,001 - $50,000     Yes               6
582    $50,000 - $74,999     Yes               4
583  $100,001 - $150,000     Yes               6
584    $50,000 - $74,999     Yes               6
585    $25,001 - $50,000      No               5
586   $75,000 - $100,000     Yes               5
587   $75,000 - $100,000     Yes               3
588    $50,000 - $74,999      No               6
589    $50,000 - $74,999      No               6
590    $25,001 - $50,000     Yes               3
591        under $25,000     Yes               4
592        over $150,000      No               5

[593 rows x 3 columns]

In [15]:
# changing index cols with rename()

df.rename(columns = {"Q100562":"Channel_ID"}, inplace = True) 
df.rename(columns = {"Income":"Income(in lakhs Rs)"}, inplace = True)

In [16]:
df

     Income(in lakhs Rs) Channel_ID  No. of members
0    $100,001 - $150,000        Yes               1
1      $50,000 - $74,999        Yes               4
2     $75,000 - $100,000        Yes               1
3    $100,001 - $150,000        Yes               4
4     $75,000 - $100,000        Yes               6
5          over $150,000         No               6
6    $100,001 - $150,000        Yes               1
7    $100,001 - $150,000        Yes               5
8    $100,001 - $150,000         No               5
9          over $150,000        Yes               2
10         under $25,000        Yes               3
11    $75,000 - $100,000        Yes               3
12   $100,001 - $150,000        Yes               2
13     $50,000 - $74,999        Yes               2
14    $75,000 - $100,000        Yes               2
15    $75,000 - $100,000        Yes               4
16    $75,000 - $100,000         No               2
17         over $150,000        Yes               3
18     $50,000 - $74,999        Yes               5
19         over $150,000        Yes               5
20    $75,000 - $100,000        Yes               1
21         over $150,000        Yes               4
22         over $150,000        Yes               5
23   $100,001 - $150,000        Yes               2
24    $75,000 - $100,000        Yes               1
25         under $25,000        Yes               5
26         under $25,000        Yes               3
27   $100,001 - $150,000        Yes               4
28     $50,000 - $74,999         No               5
29         over $150,000        Yes               5
..                   ...        ...             ...
563    $50,000 - $74,999         No               1
564        over $150,000        Yes               6
565   $75,000 - $100,000        Yes               6
566    $25,001 - $50,000         No               3
567   $75,000 - $100,000         No               5
568  $100,001 - $150,000        Yes               2
569   $75,000 - $100,000        Yes               4
570  $100,001 - $150,000        Yes               6
571  $100,001 - $150,000        Yes               3
572    $25,001 - $50,000         No               4
573    $25,001 - $50,000         No               4
574        under $25,000        Yes               2
575    $50,000 - $74,999        Yes               1
576   $75,000 - $100,000        Yes               5
577   $75,000 - $100,000        Yes               4
578    $50,000 - $74,999        Yes               1
579    $25,001 - $50,000        Yes               2
580   $75,000 - $100,000        Yes               4
581    $25,001 - $50,000        Yes               6
582    $50,000 - $74,999        Yes               4
583  $100,001 - $150,000        Yes               6
584    $50,000 - $74,999        Yes               6
585    $25,001 - $50,000         No               5
586   $75,000 - $100,000        Yes               5
587   $75,000 - $100,000        Yes               3
588    $50,000 - $74,999         No               6
589    $50,000 - $74,999         No               6
590    $25,001 - $50,000        Yes               3
591        under $25,000        Yes               4
592        over $150,000         No               5

[593 rows x 3 columns]

In [17]:
print(df.index.name)

None

In [18]:
df.index.name = 'House_ID'
df

          Income(in lakhs Rs) Channel_ID  No. of members
House_ID
0         $100,001 - $150,000        Yes               1
1           $50,000 - $74,999        Yes               4
2          $75,000 - $100,000        Yes               1
3         $100,001 - $150,000        Yes               4
4          $75,000 - $100,000        Yes               6
5               over $150,000         No               6
6         $100,001 - $150,000        Yes               1
7         $100,001 - $150,000        Yes               5
8         $100,001 - $150,000         No               5
9               over $150,000        Yes               2
10              under $25,000        Yes               3
11         $75,000 - $100,000        Yes               3
12        $100,001 - $150,000        Yes               2
13          $50,000 - $74,999        Yes               2
14         $75,000 - $100,000        Yes               2
15         $75,000 - $100,000        Yes               4
16         $75,000 - $100,000         No               2
17              over $150,000        Yes               3
18          $50,000 - $74,999        Yes               5
19              over $150,000        Yes               5
20         $75,000 - $100,000        Yes               1
21              over $150,000        Yes               4
22              over $150,000        Yes               5
23        $100,001 - $150,000        Yes               2
24         $75,000 - $100,000        Yes               1
25              under $25,000        Yes               5
26              under $25,000        Yes               3
27        $100,001 - $150,000        Yes               4
28          $50,000 - $74,999         No               5
29              over $150,000        Yes               5
...                       ...        ...             ...
563         $50,000 - $74,999         No               1
564             over $150,000        Yes               6
565        $75,000 - $100,000        Yes               6
566         $25,001 - $50,000         No               3
567        $75,000 - $100,000         No               5
568       $100,001 - $150,000        Yes               2
569        $75,000 - $100,000        Yes               4
570       $100,001 - $150,000        Yes               6
571       $100,001 - $150,000        Yes               3
572         $25,001 - $50,000         No               4
573         $25,001 - $50,000         No               4
574             under $25,000        Yes               2
575         $50,000 - $74,999        Yes               1
576        $75,000 - $100,000        Yes               5
577        $75,000 - $100,000        Yes               4
578         $50,000 - $74,999        Yes               1
579         $25,001 - $50,000        Yes               2
580        $75,000 - $100,000        Yes               4
581         $25,001 - $50,000        Yes               6
582         $50,000 - $74,999        Yes               4
583       $100,001 - $150,000        Yes               6
584         $50,000 - $74,999        Yes               6
585         $25,001 - $50,000         No               5
586        $75,000 - $100,000        Yes               5
587        $75,000 - $100,000        Yes               3
588         $50,000 - $74,999         No               6
589         $50,000 - $74,999         No               6
590         $25,001 - $50,000        Yes               3
591             under $25,000        Yes               4
592             over $150,000         No               5

[593 rows x 3 columns]

In [19]:
df["Income(in lakhs Rs)"].unique()

array(['$100,001 - $150,000', '$50,000 - $74,999', '$75,000 - $100,000',
       'over $150,000', 'under $25,000', '$25,001 - $50,000'],
      dtype=object)

In [21]:
df.replace({"Income(in lakhs Rs)":{'under $25,000':'under 1','$25,001 - $50,000':'1 - 2.4',
                     '$50,000 - $74,999':'2.4 - 5','$75,000 - $100,000':'5 - 10',
                     '$100,001 - $150,000':'10 - 20','over $150,000':'over 20'}}, inplace=True)
df

         Income(in lakhs Rs) Channel_ID  No. of members
House_ID
0                    10 - 20        Yes               1
1                    2.4 - 5        Yes               4
2                     5 - 10        Yes               1
3                    10 - 20        Yes               4
4                     5 - 10        Yes               6
5                    over 20         No               6
6                    10 - 20        Yes               1
7                    10 - 20        Yes               5
8                    10 - 20         No               5
9                    over 20        Yes               2
10                   under 1        Yes               3
11                    5 - 10        Yes               3
12                   10 - 20        Yes               2
13                   2.4 - 5        Yes               2
14                    5 - 10        Yes               2
15                    5 - 10        Yes               4
16                    5 - 10         No               2
17                   over 20        Yes               3
18                   2.4 - 5        Yes               5
19                   over 20        Yes               5
20                    5 - 10        Yes               1
21                   over 20        Yes               4
22                   over 20        Yes               5
23                   10 - 20        Yes               2
24                    5 - 10        Yes               1
25                   under 1        Yes               5
26                   under 1        Yes               3
27                   10 - 20        Yes               4
28                   2.4 - 5         No               5
29                   over 20        Yes               5
...                      ...        ...             ...
563                  2.4 - 5         No               1
564                  over 20        Yes               6
565                   5 - 10        Yes               6
566                  1 - 2.4         No               3
567                   5 - 10         No               5
568                  10 - 20        Yes               2
569                   5 - 10        Yes               4
570                  10 - 20        Yes               6
571                  10 - 20        Yes               3
572                  1 - 2.4         No               4
573                  1 - 2.4         No               4
574                  under 1        Yes               2
575                  2.4 - 5        Yes               1
576                   5 - 10        Yes               5
577                   5 - 10        Yes               4
578                  2.4 - 5        Yes               1
579                  1 - 2.4        Yes               2
580                   5 - 10        Yes               4
581                  1 - 2.4        Yes               6
582                  2.4 - 5        Yes               4
583                  10 - 20        Yes               6
584                  2.4 - 5        Yes               6
585                  1 - 2.4         No               5
586                   5 - 10        Yes               5
587                   5 - 10        Yes               3
588                  2.4 - 5         No               6
589                  2.4 - 5         No               6
590                  1 - 2.4        Yes               3
591                  under 1        Yes               4
592                  over 20         No               5

[593 rows x 3 columns]